.container_addPlan{
    background-color: aqua;
    padding: 40px 55px;
    margin-top: 10px
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .left {
    text-align: center;
  }
  
  /* .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } */
  
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure consistent box sizing */
  }
  .dropdown{
    width: 200px;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #000000;
    font-size: 18px;
    margin-top: 5px;
  }
