.container {
    padding: 30px 0px;
    padding-left: 55px;
  }
  
  .noAddonsMessage {
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
